<ion-header>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Critique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Critique</h1>

  <p>
    <strong>Bring!</strong>
    <br><br>
Shopping list application<br><br>
The app is nicely designed, layout is quite simple. It has a 
search box at the top, home button in the left top corner and 
drop-down lists of ingredients. Thanks to clever design it 
eliminates any extra clicks and make it very easy to use. 
 User can pick an item from drop-down menus or just search
  it in the search box. Once the item is bought it just
   take to click on it and it removes from the list.
    It also has recently used menu that allows you to store 
    your favourite shopping items at your convenience.
Application also has ability to share your shopping list with 
other users so your partner or a friend can update some 
missing items for you. 
Another unique function is the inspiration button. It will
 show you list of dishes and when you click on it displays
  a list of ingredients that are needed to cook that meal
  <br>
  </p>
  <p>
<strong>Habitica</strong><br><br>
It is a unique to do application that in many ways look 
like a game. It allows you to create a character and by
 completing your tasks you gain experience. Once you 
 have enough exp you level up! It has a lot o features
  and could be fun. The downside is the monthly subscription. 

      </p>

</ion-content>
