<ion-header>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Profiles of final app users.
  </h1>

  <p><strong>Rosaline Hanata</strong></p>

   <p>Rosaline Hanata has 2 kids and a dog. She has to 
   feed everyone, walk the dog, wash her hair, 
   taking care of the children and prepair
   herself for an important meetings. Rosaline is very 
   worried that she might forget to do something
   the next day and be late for her meeting.  
   </p>
   <p>
   When Rosaline opens this app she will have to tap 
   on the green plus button. After she does that, she 
   will see a text box, that she needs to state in a task.
   After pressing the submit button, she'll repeat the same
   action, until she gets her to do plan done for the day. 
   After she completes one of her chores, she'd press the 
   bullet point next to what she wrote, and that will
   automatically check it off from the list.
   </p>
   <p>
    <strong> Bart Robinson</strong>

   </p>
  <p>
   Bart Robinson is a 65 year old retired dentist
   who lives alone with a cat. Bart likes to spoil
   pet with treats, but when he goes out shopping,
   he always forgets at least one thing. This really
   annoys him. This is why he needs ToDoApp. </p>
   <p>
   When he opens the app, he can use it as a shopping list.
   All he has to do is to add all the items he needs by pressing
   the green button. Once it's in the cart, Bart can tick it of from
   the list.


   </p>

  


  

</ion-content>
