<ion-header>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<h1>Goal of the Final App</h1>

  <p>
      This application is aimed towards busy 
      people who like to plan their day. The points 
      below are part of why most people would like to use this
       application:

    <br><br>
    &bull; Helps remember things that one would not want to forget.
    <br><br>
    &bull; Organizes your day.
    <br><br>
    &bull; Can be used as a shoping list, organiser or a planner.
    <br><br>
    &bull; Offers a clean and easy to use expirience.

  </p>


</ion-content>
