<ion-header>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Sketches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    
    <img src="assets/images/sketch1.png" alt="sketch of my app" >
  
    
    <div class="card-title"> Sketch no. 1</div>
    <div class="card-text">First sketch represents the main
       screen when user would be able to tab a plus buton
        and add new task.
    </div>
    </ion-card>
    <ion-card>
      <img src="assets/images/sketch2.png" alt="sketch of my app" >
      <div class="card-title"> Sketch no. 2</div>
      <div class="card-text">Second sketch showing what happens
         after pushing the plus button. Text box and a keyboard
          alowing users to add tasks.
      </div>
      </ion-card>
      <ion-card>
        <img src="assets/images/sketch3.png" alt="sketch of my app" >
        <div class="card-title"> Sketch no. 3</div>
        <div class="card-text">User can add as many tasks as wanted
        </div>
        </ion-card>
        <ion-card>
          <img src="assets/images/sketch4.png" alt="sketch of my app" >
          <div class="card-title"> Sketch no. 4</div>
          <div class="card-text">and finally when the task is
             completed user will
             have the ability to tab the text and tick it off
          </div>
          </ion-card>

        

</ion-content>
